<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <script type="text/javascript" src="//use.typekit.net/htl7ryi.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <span class="skills-title">Video Editor | Cinematographer | Graphic / Web Designer</span>
            <!-- <a class="extra" href="/">Home</a> -->
            <a class="extra" href="#contact">Contact</a>
            <!-- <a class="extra" href="/about/">About</a> -->
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                <a id="contact"><span class="tk-brandon-grotesque">Patrick Thompson</span><br /></a>
                Video Editor | Cinematographer | Graphic / Web Designer<br />
                <a href="mailto:patrick@xfsmail.com">patrick@xfsmail.com</a>
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://twitter.com/theonylpat">twitter.com/theonlypat</a><br />
                <a href="http://vimeo.com/patrickthompson">vimeo.com/patrickthompson</a>
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
